<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Films</title>
    <link rel="stylesheet" href="/css/films.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/films">All Films</a>
        <a href="/films/new">New Films</a>
        |
        <a href="/directors">All Directors</a>
        <a href="/directors/new">New Director</a>
      </nav>
      <h1>
        Films
      </h1>
      <%= yield %>

    </div>

  </body>
</html>
