<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/synths.css">
    <title>Synthesisers</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/synths">All Synthesisers</a>
        <a href="/synths/new">New Synthesisers</a>
      </nav>
    </div>
    <h1>
      Synthesisers
    </h1>
    <%= yield %>
  </body>
</html>
