<h1>Play Rock Paper Scissors</h1>

<form action="rockpaperscissors/result">
  <label>
    <input type="text" placeholder="Choose Rock Paper or Scissors" name="throw" required>
  </label>

  <button type="submit">Submit Your Choose</button>

</form>
<!-- <select>
  <option value="Rock">Rock</option>
  <option value="Paper">Paper</option>
  <option value="Scissors">Scissors</option>
</select> -->
