<h1>Find Your Fortune with the Magic Eight Ball</h1>

<form class="" action="eightball/result">
  <label>
    <input type="text" placeholder="Ask A Question" name="question" required>
  </label>

  <button type="submit">Find Your Fortune</button>

</form>
