<h1>Secret Number</h1>
<form action="secretnumber/result/">
  <!-- <button type="submit" name="1">1</button>
  <button type="submit" name="2">2</button>
  <button type="submit" name="3">3</button>
  <button type="submit" name="4">4</button>
  <button type="submit" name="5">5</button>
  <button type="submit" name="6">6</button>
  <button type="submit" name="7">7</button>
  <button type="submit" name="8">8</button>
  <button type="submit" name="9">9</button>
  <button type="submit" name="10">10</button> -->
  <label>
    <input type="number" name="guess" required>
  </label>

  <button type="submit">Place Your Guess</button>
</form>
